
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.product_name{
	background: #445162;
}
.name_section, .about_product_section{
	display: flex;
	justify-content: space-between;
	max-width: 1180px;
	margin: 0px auto;
	padding: 50px 0;
}

.title {
	font-size: 60px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	margin-bottom: 52px;
  }
  .list {
	font-size: 20px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	text-align: left;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  }
  .list li{
	background: url('../img/checkicon.png') 0 0 no-repeat;
	margin:0 0 22px 0 ;
	padding: 0 0 0 36px;
  }
  .caption{
	font-size: 30px;
	color: rgb(68, 81, 97);
	line-height: 1.2;
	text-align: left;
	margin-bottom: 31px;
  }
  .about_subtitle_text{
	 margin:0 85px 20px 0; 
  }
  .about_subtitle_text p:last-child{
	margin-bottom: 0 ; 
 }
 .dignity, .reviews{
	background: #f5f5f5;
  }
  .dignity_content{
	background: #f5f5f5;
	max-width: 1180px;
	margin: 0px auto;
	padding: 50px 0; 
  }
  .dignity_title,.scrishots_title, .reviews_title, .buy_inner_title{
	  text-align: center;
  }
  .dignity_list{
	  display: flex;
  }
  .dignity_list li{
	background: url("../img/plusicon.png") 0 0 no-repeat;
	padding: 0 0 0 43px;
	margin-bottom: 34px;
}
.scrinshots_content, .reviews_content{
	max-width: 1180px;
	margin: 0px auto;
	padding: 50px 0; 
  }
.content_block_section{
    display: flex;
    justify-content: space-between;
    flex: 0 1 50%;
	padding: 20px 0;
}
.subtitle{
	font-size: 24px;
	text-align: left;
	margin-bottom: 21px;
}
.section_text{
	margin:0 19px ;
}
 .section{
	display: flex;
    flex-wrap: wrap;
    max-width: 1180px;
    margin: 0 auto;
 }
.text{
	background: url('../img/bgreview.png') 0 0 no-repeat;
	padding: 15px 15px 15px 30px;
}
.userpic{
	align-self: flex-start;
}
.paragraph{
	font-size: 14px;
	font-style: italic;
	margin-bottom:16px ;
}
.signature {
	font-size: 14px;
	color: rgb(152, 152, 152);
	text-align: left;
  }
.buy_it_now{
	max-width: 990px;
	margin: 0 auto;
}
.buy_subtitle {
	font-size: 24px;
	color: rgb(255, 255, 255);
	line-height: 1.25;
	text-align: center;
	padding: 20px 20px 20px 10px;
  }
  .price{
	background: rgb(255, 255, 255) ;
	font-size: 40px;
	color: rgb(68, 81, 98);
	line-height: 0.75;
	text-align: center;
	margin:0 0 0  -20px;
	padding: 20px;
  }
  .column_list {
	font-size: 14px;
	color: rgb(255, 255, 255);
	text-align: left;
	padding: 20px 20px 10px 20px;
  }
  .column_list li{
	padding:0 0 10px 0;
  }
  .bt {
	font-size: 18px;
	color: rgb(68, 81, 97);
	font-weight: bold;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	width: 260px;
	height: 40px;
	margin:20px 20px 10px  0px;
  }
.column{
    background-color: #445162;
    border:2px #445162 solid;
    border-radius: 5px;
    padding: 0 0 20px 20px;
    margin: 0 10px;
    display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex: 0 1 33.333%;
}
.buy_columns{
	display: flex;
}
.buy_subtitle{
	flex-grow: 0;
}